/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    /* Login */

position: relative;
width: 1920px;
height: 1080px;

background: #FFFFFF;


/* Rectangle 1 */

position: absolute;
width: 1921px;
height: 130px;
left: -1px;
top: 0px;

background: #191825;


/* Rectangle 2 */

position: absolute;
width: 614px;
height: 611px;
left: 1031px;
top: 278px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 9px;


/* Rectangle 5 */

position: absolute;
width: 157px;
height: 56px;
left: 1269px;
top: 767px;

background: #191825;
border-radius: 10px;


/* Login */

position: absolute;
width: 154px;
height: 54px;
left: 1271px;
top: 747px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 100px;
/* or 312% */
text-align: center;

color: #FFFFFF;



/* Don’t have an account? Register here */

position: absolute;
width: 466px;
height: 67px;
left: 1076px;
top: 651px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 100px;
/* or 500% */

color: #191825;



/* Password: */

position: absolute;
width: 282px;
height: 94px;
left: 1065px;
top: 542px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 100px;
/* or 417% */

color: #191825;



/* Rectangle 4 */

box-sizing: border-box;

position: absolute;
width: 515px;
height: 47px;
left: 1072px;
top: 617px;

background: #FFFFFF;
border: 1px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;


/* Email */

position: absolute;
width: 522px;
height: 94px;
left: 1065px;
top: 412px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 100px;
/* or 417% */

color: #191825;



/* WELCOME */

position: absolute;
width: 614px;
height: 84px;
left: 1031px;
top: 310px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 64px;
line-height: 100px;
/* or 156% */
text-align: center;

color: #191825;



/* STARLIGHT ACADEMY ENROLLMENT SYSTEM */

position: absolute;
width: 885px;
height: 183px;
left: 146px;
top: 774px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 200;
font-size: 40px;
line-height: 53px;
/* or 132% */
text-align: center;
letter-spacing: 0.3em;

color: #191825;

border: 1px solid #000000;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* ugh daddy */

position: absolute;
width: 567px;
height: 74px;
left: -71px;
top: 11px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 100px;
/* or 156% */
text-align: center;

color: #FFFFFF;



/* Rectangle 3 */

box-sizing: border-box;

position: absolute;
width: 515px;
height: 48px;
left: 1072px;
top: 482px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;


/* Frame */

position: absolute;
width: 21px;
height: 20px;
left: 1554px;
top: 631px;



/* Vector */

position: absolute;
left: 8.27%;
right: 8.27%;
top: 18.75%;
bottom: 18.75%;

opacity: 0.47;
border: 1.5px solid #000000;


/* Vector */

position: absolute;
left: 37.5%;
right: 37.5%;
top: 37.5%;
bottom: 37.5%;

opacity: 0.47;
border: 1.5px solid #000000;


/* 1-removebg-preview 1 */

position: absolute;
width: 517px;
height: 517px;
left: 330px;
top: 265px;

background: url(1-removebg-preview.png);
filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.25));


/* example@studentemail.edu.ph */

position: absolute;
width: 522px;
height: 87px;
left: 1086px;
top: 453px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 100px;
/* or 417% */

color: #191825;

opacity: 0.36;


/* ************* */

position: absolute;
width: 522px;
height: 87px;
left: 1086px;
top: 595px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 100px;
/* or 417% */

color: #191825;

opacity: 0.36;

}
